body {
  background: #15171a;
  color: #b9babb;
  margin: 0;
  padding: 1rem;
  padding-bottom: 2.5rem;
  min-width: 240px;
  font-family: sans-serif;
  position: relative;
}

header h1 {
  font-size: 16px;
  margin: 0 0 10px 0;
  text-align: center;
}

#message {
  margin-bottom: 10px;
}

.soldeck-btn {
  display: inline-block;
  margin: 3px;
  padding: 0 10px;
  height: 1.75rem;
  background: #15171a;
  border: 1px solid silver;
  color: #b9babb;
  border-radius: 9999px;
  user-select: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.75rem;
  outline: none;
}

#settings-link-container {
  position: absolute;
  bottom: 8px;
  right: 8px;
  text-align: right;
}

#settings-link {
  color: #b9babb;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
}

#settings-view {
  text-align: center;
}

#settings-view input[type="text"] {
  width: 90%;
  padding: 5px;
  margin: 10px 0;
}
